:root {
    --azul: #2073e8;
    --azul-claro: #cce4ff;
    --branco: #FEFEFE;
    --cinza-claro: #EFEFEF;
    --cinza: #888888;
    --cinza-escuro: #565656;
    --fonte-principal: 'Poppins', sans-serif;
}