:root {
    --azul: #2073e8;
    --azul-claro: #cce4ff;
    --branco: #FEFEFE;
    --cinza-claro: #EFEFEF;
    --cinza: #888888;
    --cinza-escuro: #565656;
    --fonte-principal: 'Josefin Sans', sans-serif;
    --verde: rgb(60, 208, 60);
    --vermelho: rgb(157, 17, 17);
}